.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px; 

  @media screen and (max-width: 1024px) {
    margin-bottom: 80px;
  }

  @media screen and (max-width: 768px) {
    margin-bottom: 60px;
  }

  @media screen and (max-width: 560px) {
    margin-bottom: 40px;
  }

  &__link-to-vacancies{
    
  @media screen and (max-width: 450px) {
    display: none;
  }

  }
}
